name: CI Push Pipeline

on:
  push:
    branches:
      - master

jobs:
  build-unstable:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up qemu
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push unstable
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:unstable
          cache-from: type=gha,scope=imdb-db-docker
          cache-to: type=gha,mode=max,scope=imdb-db-docker
          build-args: |
            GIT_COMMIT=${{ github.sha }}
            GIT_TAG=unstable
